<!DOCTYPE html>
<html>
<head>
  <title>ContactBucket</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render "layouts/header" %>
      <%= render "layouts/breadcrumb" %>
      <%= yield %>
    </div>
  </div>
</div>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
